@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body{
	background-image: url('https://get.pxhere.com/photo/cloud-sky-white-atmosphere-daytime-fluffy-cumulus-blue-day-meteorological-phenomenon-atmosphere-of-earth-590979.jpg');
	background-size: cover;
	padding: 20px;
}

.header{
	margin: auto;
	max-width: 1200px;
}

.header__top{
	display: flex;
	justify-content: space-between;
	align-items: center
}

.header__logo img{
	width: 200px;
}

.header__socialIcon{
	display: flex;
	gap: 10px;
}

.header__socialIcon a img{
	width: 25px;
	color: #fff;
	filter: invert(1);
}

.header__nav{
	display: flex;
	margin-top: 20px;
}

.header__navLink{
	width: calc(100% / 6);
	text-align: center;
	padding: 15px 0px;
	background-color: #3b3336;
	color: #fff;
	text-decoration: none;
	border-left: 1px solid #201c1e;
	border-right: 1px solid #201c1e;
}

.main{
	max-width: 1200px;
	margin: 0px auto;
	margin-top: 10px;
}

.mainSlider__slide{
	height: 600px;
	display: flex;
	align-items: center;
}

.mainSlider__content{
	background-color: #00000048;
	color: #fff;
	padding: 10px 30px;
	font-size: 20px;
}

.mainCards{
	display: flex;
	text-align: center;
}

.mainCards__item{
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	align-items: center;
	color: #fff;
	padding: 15px 30px;
}

.mainCards__item img{
	width: 45px;
	filter: invert();
}

.mainCards__item:nth-child(1){
	background-color: #494144;
}

.mainCards__item:nth-child(2){
	background-color: #514b4d;
}

.mainCards__item:nth-child(3){
	background-color: #5a5456;
}

.mainCards__text{
	font-size: 12px;
}

.mainCards__link{
	background-color: #2a2426;
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
}

.footer{
	max-width: 1100px;
	margin: 0 auto;
	background-color: #6d6b6e;
	margin-top: 20px;
	padding: 20px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}

.footer__top{
	display: flex;
}

.footer__top > div{
	width: calc(100% / 3);
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer__top ul {
	list-style: none;
}

.footer__newsCont{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer__contacts ul{
	display: flex;
	flex-direction: column;
	gap: 10px;
}